html {
  font-family: "Josefin Sans";
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1f1e1e;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

header {
  color: white;
  padding: 5px;
  margin: 5px 0px;
}

content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content__cover {
  height: 350px;
  border: 1px solid white;
}

.tribal-schools {
  background-color: #9a3106;
  background-image: url("assets/tribal-schools-cover.png");
  background-position: top;
  background-origin: content-box;
  background-size: 650px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.tribal-schools:hover {
  opacity: 1;
  cursor: pointer;
}

.paintings {
  background-color: #212121;
  background-image: url("assets/paintings-cover.png");
  background-position: top-left;
  background-origin: content-box;
  background-size: 650px;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.paintings:hover {
  opacity: 1;
  cursor: pointer;
}

.cost-estimator {
  background-color: #212121;
  background-image: url("assets/cost-estimator-cover.png");
  background-position: top;
  background-origin: content-box;
  background-size: 650px;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.cost-estimator:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 800px) { 
  content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .paintings {
    background-position: center;
  }
}